In [10]:
import pandas as pd

#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
airline_incidents = pd.read_csv('data/airline-safety.csv',
    usecols=[0,1,2],
    names=['airline', 'seat-km/week', 'incidents'],
    header=0
    # dtype={
    #     'airline': str,
    #     'seat-km/week': int,
    #     'incidents': int
    # }
)

In [11]:
airline_incidents.dtypes

airline         object
seat-km/week     int64
incidents       object
dtype: object

In [12]:
airline_incidents['incidents_cleaned'] = pd.to_numeric(airline_incidents['incidents'], errors='coerce')
airline_incidents.dtypes

airline          object
seat-km/week      int64
incidents       float64
dtype: object

In [13]:
airline_incidents.head(10)

                 airline  seat-km/week  incidents
0             Aer Lingus     320906734        NaN
1              Aeroflot*    1197672318       76.0
2  Aerolineas Argentinas     385803648        6.0
3            Aeromexico*     596871813        3.0
4             Air Canada    1865253802        2.0
5             Air France    3004002661       14.0
6             Air India*     869253552        2.0
7       Air New Zealand*     710174817        3.0
8       Alaska Airlines*     965346773        5.0
9               Alitalia     698012498        7.0

In [16]:
import re
import pandas as pd

game_info = pd.DataFrame
metadata_dict = {}

is_new = []
distribution = []
votes = []
rank = []
title = []

headerFound = False
with open('data/sega.txt') as sega:
    for line in sega:
        # do stuff to find header
        if not headerFound:
            continue
        meta_match = re.match(r'([\w-]+): (.*)', line)
        if meta_match:
            metadata_dict[meta_match.group(1)] = meta_match.group(2)
            continue
        rating_match = re.match(r' ([\* ])\s+([\d\.\*]{10})\s+(\d{1,2})\s+([\d\.]+)\s+(.*)', line)
        if rating_match:
            is_new.append(True if rating_match.group(1) is '*' else False)
            distribution.append(rating_match.group(2))
            votes.append(int(rating_match.group(3)))
            rank.append(float(rating_match.group(4)))
            title.append(rating_match.group(5))
        # look for condition
        # parse the line
        # feed into data structure

rating_data = {}
rating_data['is_new'] = is_new
rating_data['distribution'] = distribution
rating_data['votes'] = votes
rating_data['rank'] = rank
rating_data['title'] = title

rating_df = pd.DataFrame(rating_data)

rating_df.head()

   is_new distribution  votes  rank                                     title
0   False   .......*..      1   8.0                               Berlin Wall
1   False   ...2...7..      4   7.0  Castle Of Illusion Starring Mickey Mouse
2   False   ......*...      1   7.0                             Clutch Hitter
3   False   ...126....      8   5.5                                   Columns
4   False   ....5..5..      2   6.5                                  Devilish

In [15]:
print(metadata_dict)

{'Path': 'uwm.edu!linac!att!ucbvax!plitvice.berkeley.edu!erc', 'From': 'erc@plitvice.berkeley.edu (Eric Ng)', 'Newsgroups': 'rec.games.video', 'Subject': 'VIDEO GAME RATINGS REPORT (SEGA GENESIS, GAME GEAR)', 'Message-ID': '<44159@ucbvax.BERKELEY.EDU>', 'Date': '1 Apr 92 02:36:51 GMT', 'Sender': 'nobody@ucbvax.BERKELEY.EDU', 'Reply-To': 'video@irss.njit.edu', 'Organization': 'University of California at Berkeley', 'Lines': '177'}